body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    flex-direction: column; /* Set buttons to align vertically */
    align-items: center;
  }
  
  .big-button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px 0; /* Adjust vertical margin */
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .big-button:hover {
    background-color: #2980b9;
  }
  