<div class="container">

    <app-header [doctor]="doctor">  </app-header>
    
    <div class="main-space">
        <div class="button-grid">

            <a [routerLink]="['/patients']" [queryParams]="{ access: token.access, refresh: token.refresh}">Patients</a>
            <a [routerLink]="['/appointments']" [queryParams]="{ access: token.access, refresh: token.refresh}">Mes RDV</a>
            <a [routerLink]="['/history']" [queryParams]="{ access: token.access, refresh: token.refresh}">Historique</a>

        </div>
    </div>


</div>
